HUAWEICLOUD_ACCESS_KEY_ID=
HUAWEICLOUD_SECRET_ACCESS_KEY=
HUAWEICLOUD_SECURITY_TOKEN=
HUAWEICLOUD_OBS_REGION=cn-north-4
HUAWEICLOUD_OBS_ENDPOINT=
HUAWEICLOUD_OBS_ENABLE_WRITE=false
HUAWEICLOUD_OBS_ENABLE_DELETE=false
HUAWEICLOUD_OBS_ENABLE_CONFIG_WRITE=false
HUAWEICLOUD_OBS_PREVIEW_BYTES=65536
